.Search {
  position: fixed;
  left: 25%;
  top: 130px;
  width: 50%;
  height: calc(100% - 310px);
  background-color: #FFC063;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0.5px 0.5px 50px #0000004d;
  -moz-box-shadow: 0.5px 0.5px 50px #0000004d;
  box-shadow: 0.5px 0.5px 50px #0000004d;
  overflow: hidden;
}

.Search input {
  position: relative;
  width: 100%;
  top: 60px;
  height: 100px;
  font-size: 60px;
  background-color: transparent;
  color: white;
  box-shadow: none;
  border: none;
  text-align: center;
}

.Search .results {
  position: absolute;
  top: 220px;
  height: calc(100% - 220px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.Search .results div {
  margin: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 30px;
  min-height: 70px;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.Search .results div .name {
  grid-column: 1 / 4;
  float: left;
  display: inline-block;
}

.Search .results div .addButton {
  grid-column: 4 / 5;
  display: inline-block;
}