body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.light-light {
  background-color: #d7fbe8;
}

.light {
  background-color: #9df3c4;
}

.strong {
  background-color: #62d2a2;
}

.strong-strong {
  background-color: #1fab89;
  color: white;
}
