.NutritionCalculator .menuButton {
  margin: 10px;
  position: fixed;
  bottom: 110px;
  z-index: 1;
}

.NutritionCalculator .searchButton {
  right: calc(50% + 38px);
}

.NutritionCalculator .importButton {
  right: calc(50% - 28px);
}

.NutritionCalculator .exportButton {
  right: calc(50% - 93px);
}